* {padding: 0; margin: 0; box-sizing: border-box;}
html,body {height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@font-face {
    font-family: "Mayberry";
    src: url('../fonts/Mayberry\ W02\ Bold.ttf');
}



.container {max-width: 1280px; margin: 0 auto; padding: 0 2%;}

.flex {display: flex; flex-wrap: wrap;}
.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33.33%;}

.clear {clear: both;}

/* ! CLASSES PADÃO ! ----------------------------------------------------------------------------------------------------------------------------------- */

a.button {
    color: white;
    padding: 6px 25px;
    font-size: 32px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35px;
}

a.button:hover {
    color: #ccc;
    border: 2px solid #ccc;
    transition: 0.2s;
}


/*? Screen >= 1200px Extra Large WIDE DESKTOP ---------------------------------------------------------------------------------------------------------- */

header {
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0.68) 0%, rgba(255,255,255,0.58) 100%);
    border-bottom: 1px solid #ccc;
    position: absolute; z-index: 2;
    padding: 8px 0;
}

header .flex {
    align-items: center;
}

header .logo {
    font-family: 'Limelight';
}

header .links a {
    color: white;
    text-shadow: 0px 4px 10px rgba(150, 150, 150, 1);
    text-decoration: none;
    font-size: 18px;
}

header .links a:hover {
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
    transition: 0.2s;
}

header ul {
    margin-left: auto;
    list-style: none;
}

header li {
    display: inline-block;
    margin: 0 5px;
}

header li:first-of-type {
    margin-left: 0;
}

header li:last-of-type {
    margin-right: 0;
}

/* FINAL HEADER ------------------------------------------------- */

.banner {
    width: 100%; height: 70vh;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner .container {

}

.banner h1 {
    font-family: 'Mayberry';
    font-size: 64px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 50%; transform: translateY(-50%);
}

.banner h1 span {
    color: #92570F;
}

.banner .button-container {
    width: 100%;
    justify-content: center;
}

.banner a.button {
    position: absolute; top: 90%;;
    transform: translateY(-50%);
}

/* FINAL BANNER ------------------------------------------------- */

section.icons {

}

section.icons .container {
    padding: 20px 2%;
    justify-content: space-between;
}

section.icons .diferencial-single {

}

section.icons .diferencial-single .circle {
    width: 200px; height: 200px; border-radius: 50%;
    background-color: #0A960A;
    margin: 20px auto;
}

section.icons .diferencial-single p {
    padding: 0 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section.icons .diferencial-single .circle i {
    font-size: 110px;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FINAL ICONS ------------------------------------------------- */

section.form {
    width: 100%;
    background-image: url('../images/form-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 652px;
}

section.form .container.flex {
    align-items: center;
}

section.form .form-box {
    background: rgba(255, 255, 255, 0.584);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 345px;
    height: 456px;
    margin-top: 98px;
}

section.form .form-box h2 {
    font-size: 24px;
    font-family: 'Roboto' sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 16px 16px 0 0;
    padding: 12px;
}

section.form .form-box form {
    text-align: center;
    margin-top: 30px;
}

section.form .form-box a {
    display: block;
}

section.form .form-box input,
section.form .form-box textarea,
section.form .form-box a {
    width: 80%;
    margin: 12px 0;
    padding: 10px 8px;
    border-radius: 8px;
}

section.form .form-box input,
section.form .form-box textarea {
    border: 0;
    outline: 0;
}

section.form .form-box textarea {
    height: 142px;
    resize: none;
}

section.form .form-box a {
    background-color: #0A960A;
    color: white;
    margin: 0 auto;
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
}

/* FINAL FORM ------------------------------------------------- */

section.cards {

}

section.cards .container.flex {
    justify-content: space-around;
    padding: 40px 2%;
}

section.cards .card {
    width: 350px; height: 300px; margin: 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.82);
    position: relative;
    overflow: hidden;
}

section.cards .card .img {
    width: 100%; height: 150px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc;
}

section.cards .card h2 {
    font-family: 'Mayberry';
    text-transform: uppercase;
    padding: 12px;
}

section.cards .card p {
    padding: 12px;
}

section.cards .card a {
    margin-top: auto;
    padding: 12px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    bottom: 0;
    position: absolute;
}

/* FINAL CARDS ------------------------------------------------- */

section.sobre {
    background-image: url('../images/sobre-background.jpg');
    width: 100%; min-height: 480px;
    background-size: cover; background-position: center;
}

section.sobre .container.w33 {
    justify-content: space-around;
}

section.sobre .logo {
    background-image: url('../images/logo.jpg');
    background-size: contain; background-position: center;
    background-repeat: no-repeat;
    width: 200px; height: 200px;
    border-radius: 50%;
    position: relative; left: 50%; transform: translateX(-50%);
    top: 20px;
    -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.54); 
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.54); 
}

section.sobre .pessoas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    width: 50%;
    padding-bottom: 20px;
}

section.sobre .pessoas-wraper.flex {
    justify-content: space-between;
}

section.sobre .pessoa {
    width: 570px; height: 200px;
    border-radius: 50px 0 50px 0;
    position: relative;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.54); 
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.54);
    margin: 20px 0;
}

section.sobre .pessoa .img {
    width: 100px; height: 100px; border-radius: 50%;
    background-position: center; background-size: cover;
    margin-right: 10px;
}

section.sobre .pessoa .header {
    align-items: center;
    padding: 10px;
}

section.sobre .pessoa .info {
    padding-top: 10px;
    overflow: hidden;
    font-family: 'Roboto' sans-serif;
    padding: 10px;
}

section.sobre .pessoa .links {
    position: absolute;
    bottom: 0;
    padding: 4px 0;
    width: 100%;
    padding-left: 10px;

    background: rgba(255, 255, 255, 0.84);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.6px);
    -webkit-backdrop-filter: blur(17.6px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

section.sobre .pessoa .links a:first-of-type {
    padding-left: 0;
}

section.sobre .pessoa .links a {
    padding: 0 4px;
}

section.sobre .pessoa .links a:last-of-type {
    padding-right: 0;
}

/* FINAL SOBRE ------------------------------------------------- */

footer {
    width: 100%; min-height: 100px;
    background-color: #ccc;
    position: relative;
}

footer .sub-footer {
    position: absolute;
    bottom: 0;
    width: 100%; padding: 4px 0;
    background-color: #999;
    text-align: center;
}


/*? Screen >= 992px < 1200px Large DESKTOP ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1200px){

    section.sobre .pessoas-wraper.flex {
        justify-content: center;
        flex-direction: column;
    }

    section.sobre .pessoas {
        width: 100%;
    }

    section.sobre .pessoas:first-of-type {
        margin-bottom: 0;
    }

    section.sobre .pessoas:last-of-type {
        margin-top: 0;
    }

    section.sobre .pessoas .pessoa {
        margin: 20px auto;
    }

}

/*? Screen >= 768px < 992px Medium TABLET -------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:992px){
    
}

/*? Screen >= 576px < 768px Small Phone ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:768px){
    .w50, .w33 {
        width: 100%;
    }

    section.sobre .pessoas .pessoa {
        width: 90%;
        height: 250px;
    }

    section.sobre .pessoas .pessoa .img {
        margin: 0 auto;
    }

    section.sobre .pessoas .pessoa h2 {
        width: 100%; text-align: center;
        margin-top: 16px;
    }

}

/*? Screen >= 0px < 576px Extra Small Phone ------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width:576px){

    section.form .form-box {
        width: 90%;
        margin: 98px auto 0;
    }

    section.sobre .pessoas .pessoa {
        height: 300px;
    }

}

/*? ---------------------------------------------------------------------------------------------------------------------------------------------------- */